$dblack: #171616;
$lblack: #333333;
$red: #ed1c24;
$gray-300: #f6f5f5;
$gray-500: #a2a2a2;
$white: #ffffff;




$font16: 1em;
$font18: 18px;
$font50: 50px;


$helvetikab: helvetica47regularcondensed;
$helvetikar: helvetica47regularcondensed;
$helvetikal: helvetica47regularcondensed;
